@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

@media (min-width: 601px) {
    * {
        font-family: Montserrat;
    }

    :root {
        --main-yellow: #FFBD12;
        --main-red: #F95A2C;
        --80plus-green: #00C6AE;
        --40plus-yellow: #FFD465;
        --40minus-gray: #969BAB;
        --main-white: #fff;
        --main-black: #000000;
        --main-grey: #474A57;
        --main-blue: #1947E5;
    }


    body {
        margin: 0;
        background-color: var(--main-yellow);
        display: flex;
        flex-direction: row;
    }

    .desktop-section {
        background-color: var(--main-yellow);
        display: flex;
        flex-direction: row;
    }

    nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        height: 380px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0px 0px 30px 0px;
        border: 1px solid #000;
        background: var(--main-white);
        box-shadow: 0px 1px 0px 0px #18191F inset;
        position: relative;
    }

    nav-bar .spirit-icon {
        display: flex;
        flex-direction: column;
        width: 75px;
        height: 75px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        position: relative;  
    }

    nav-bar .spirit-icon svg {
        position: absolute; 
        margin: 0; 
    }   

    nav-bar button {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        background-color: var(--main-white);
        border: none;
        gap: 10px;
        padding-left: 15px;
    }

    nav-bar button:hover {
        cursor: pointer;
    }

    nav-bar .nav-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;    
        position: relative; 
        width: 42px;
        height: 42px;
        margin: 0;
    }

    nav-bar .nav-icon svg:nth-child(2) {
        position: absolute;
        /* left: 6px; */
        width: 25px;
        height: 25px;
    }

    nav-bar .nav-icon svg:nth-child(3) {
        position: absolute;
        left: 22px;
        bottom: 30px;
        width: 25px;
        height: 25px;
    }

    nav-bar p {
        margin: 0;
        color: var(--main-grey);    
        color: var(--Colors-Black-800, #474A57);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 133.333% */
        }

    nav-bar #selected {
        color: var(--main-black);
    }

    .search-container {
        width: 100%;
        margin-bottom: 300px;
    }

    .search-container .search-field {
        margin: 0 50px 0 50px;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-container .search-field h1 {
        font-size: 36px;
    }

    .search-container .search-field .search-bar {
        width: 100%;    
        height: 56px;
        flex-shrink: 0;
        margin: 0;
        background-color: green;
        border-radius: 16px;
        border: 2px solid var(--main-black);
        background: var(--main-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 4px 0px 0px #18191F;  
        min-width: 220px;     
    }

    .search-container .search-field .search-bar h2 {
        margin: 2px 0 0 16px;
        color: var(--Colors-Black, #18191F);
        font-feature-settings: 'liga' off, 'clig' off;
        /* 13 - Medium */
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; 
    }

    .search-container .search-field .search-bar .magnifying-glass {
        margin: 0 16px 0 auto;
        display: flex;
    }

    .search-container .recommended {
        width: 30%;
        padding: 5px 0 5px 0;
        background-color: var(--main-white);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid var(--main-black);  
        font-size: 13px;
        margin-top: 20px;
        overflow: hidden;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 20px;   
        min-width: 160px; 
    }

    .search-container .users-field {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: left; 
        margin: 0 50px 0 50px;
    }

    .search-container .users-field .user {
        width: 212px;
        height: 328px;
        flex-shrink: 0;
        border-radius: 30px;
        border: 2px solid var(--main-black);
        background-color: var(--main-white);
        overflow: hidden;
        position: relative;
    }

    .search-container .users-field .user:hover {
        cursor: pointer;
    }

    .search-container .users-field .user .user-icon {
        width: 185px;
        height: 185px;
        flex-shrink: 0;
        border-radius: 95px;
        border: 2px solid var(--Colors-Black, #18191F);
        margin: 10px 0 0 12px;
    }

    .search-container .users-field .user .user-info {
        margin: 0 12px 0 12px;
    }

    .search-container .users-field .user .user-info h3, 
    .search-container .users-field .user .user-info h4 {
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search-container .users-field .user .user-info #plus-80-match {
        color: var(--80plus-green);
    }

    .search-container .users-field .user .user-info #plus-40-match {
        color: var(--40plus-yellow);
    }

    .search-container .users-field .user .user-info #minus-40-match {
        color: var(--40minus-gray);
    } 

    .search-container .users-field .user .follow-button {
        width: 212px;
        height: 75px;
        flex-shrink: 0;
        background-color: var(--main-blue);
        border: none;
        border-top: 2px solid var(--main-black);
        stroke-width: 2px;
        stroke: var(--main-black);
        margin: 0 0 0 0;
        position: absolute;
        bottom: 0;  
        color: var(--main-black);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
    }

    .search-container .users-field .user .follow-button {
        cursor: pointer;
    }


    .search-container .users-field .user #followed-user {
        background-color: var(--main-black);
        color: var(--main-white);
    }

    footer {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100vw; 
        height: 50px; 
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--main-black);
    }

    footer h5 {
        color: var(--Main-Yellow, #FFBD12);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "Mrs Sheppards";
        font-size: 25px;
        font-weight: 400; 
    }

    .mobile-section {
        display: none;
    }
}

@media (max-width: 600px) {

    body {
        background-color: var(--main-yellow);
    }

    .desktop-section {
        display: none;
    }    

    .mobile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: var(--main-yellow);
    }

    * {
        font-family: Montserrat;
    }
    
    :root {
        --main-yellow: #FFBD12;
        --main-red: #F95A2C;
        --80plus-green: #00C6AE;
        --40plus-yellow: #FFD465;
        --40minus-gray: #969BAB;
        --main-white: #fff;
        --main-black: #000000;
        --main-grey: #474A57;
    }
    
    header {
        display: flex;
        width: 100vw;
        height: 118px;
        align-items: center;
        gap: 20px;
        flex-shrink: 0;
        background-color: var(--main-yellow);
        position: sticky;
        top: 0;
    }
    
    header .go-back {
        width: 188px;
        height: 48px;
        position: fixed;
        top: 54px;
        left: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    header .go-back button {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        stroke-width: 2px;
        stroke: var(--main-black);
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }
    
    header .go-back button:hover {
        cursor: pointer;
    }
    
    .go-back-arrow-itself {
        position: absolute;
    }
    
    .search-container {
        width: 90vw;
        margin: 24px 0 0 0;
    }
    
    .search-container .search-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .search-container .search-field .search-bar {
        width: 100%;    
        height: 56px;
        flex-shrink: 0;
        margin: 0;
        background-color: green;
        border-radius: 16px;
        border: 2px solid var(--main-black);
        background: var(--main-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 4px 0px 0px #18191F;       
    }
    
    .search-container .search-field .search-bar h2 {
        margin: 2px 0 0 16px;
        color: var(--Colors-Black, #18191F);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; 
    }
    
    .search-container .search-field .search-bar .magnifying-glass {
        margin: 0 16px 0 auto;
        display: flex;
    }
    
    .search-container .recommended {
        width: 100px;
        height: 16px;
        background-color: var(--main-white);
        display: inline-flex;
        padding: 10px 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 12px;
        border: 2px solid var(--main-black);  
        margin: 17px 0 15px 0;
    }
    
    .search-container .recommended h2 {
        color: var(--main-black);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;  
    }
    
    .search-container .users-field {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 114px;
    }
    
    
    .search-container .users-field ol{
        list-style-type: none;
        width: 100%;
        padding: 0; 
        margin: 0;
    }
    
    .search-container .users-field .user {
        background-color: var(--main-white);
        width: 100%;
        height: 84px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 2px solid var(--main-black);
        margin: 0 0 24px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .search-container .users-field .user .user-icon {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 2px solid var(--Colors-Black, #18191F);
        background: var(--Main-Red, #F95A2C);       
        margin: 0 0 0 16px;
    }
    
    .search-container .users-field .user .user-info {
        width: auto;
        height: 46px;
        margin: 0 4px 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .search-container .users-field .user .user-info h3, 
    .search-container .users-field .user .user-info h4 {
        margin: 0;
        padding: 0;
    }
    
    .search-container .users-field .user .user-info h3 {
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: 28px; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .search-container .users-field .user .user-info h4 {
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;     
    }
    .search-container .users-field .user .user-info #plus-80-match {
        color: var(--80plus-green);
    }
    
    .search-container .users-field .user .user-info #plus-40-match {
        color: var(--40plus-yellow);
    }
    
    .search-container .users-field .user .user-info #minus-40-match {
        color: var(--40minus-gray);
    }
    
    .search-container .users-field .user .follow-button {
        display: inline-flex;
        padding: 10px 16px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: var(--main-yellow);
        margin: 0 16px 0 auto;
        border-radius: 12px;
        border: 2px solid var(--Colors-Black, #18191F);
        background: var(--Main-Yellow, #FFBD12);
    
        box-shadow: 0px 2px 0px 0px #18191F;    
        color: var(--main-black);   
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;    
    }
    
    .search-container .users-field .user .follow-button {
        cursor: pointer; 
    }
    
    .search-container .users-field .user #followed-user{
        background-color: var(--main-black);
        color: var(--main-white);
    }
    
    footer {
        background-color: var(--main-white);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--main-black);
    }
    
    footer button {
        width: 125px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-white);
        border: none;
    }
    
    footer button:hover {
        cursor: pointer;
    }
    
    footer .nav-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;    
        position: relative; 
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0 0 10px 0;
    }
    
    footer .nav-icon svg:nth-child(2) {
        position: absolute;
        left: 6px;
        width: 12px;
        height: 12px;
    }
    
    footer .nav-icon svg:nth-child(3) {
        position: absolute;
        left: 14px;
        bottom: 25px;
        width: 12px;
        height: 12px;
    }
    
    footer p {
        margin: 0;
        color: var(--main-grey);    
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
    }
    
    footer #selected {
        color: var(--main-black);
    }
} 